.survey_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
}

.survey_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AFDDE2;
    border-radius: 50px;
    box-shadow: 0 3px 10px #757575;
    padding: 30px;
    gap: 20px;
    width: 700px;
}

.connect_title h1 {
    text-align: center;
    font-size: 32px;
    color: #333298;
}

.survey_form input, .survey_form select {
    font-family: 'SF Pro Display';
    color: #757575;
    width: 70%;
    height: 30px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 25px;
}

.input_group label {
    flex: 1;
}

.input_group {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select_group {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.checkbox_group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox_group input[type="checkbox"] {
    margin-left: -155px;
    flex-shrink: 0;
}

.checkbox_group input[type="text"] {
    margin-left: auto;
}

.checkbox_group label {
    margin-left: -140px;
}
.submit_button a {
    font-family: 'Octarine';
}

.submit_button {
    color: white;
    background-color: #333298;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

.submit_button:hover {
    color: #333298;
    background-color: #AFDDE2;
    box-shadow: inset 0px 0px 0px 3px #333298;
    box-sizing: border-box;
}

.submit_button:hover a {
    color: #333298;
}
